[Unit]
Description=Initialize BLE iBeacon
Wants=syslog.target bluetooth.target
Requires=bluetooth.service
After=multi-user.target bluetooth.service

# if using home assistant, add your service here
#After=multi-user.target bluetooth.service hass.service

[Service]
# delay startup in case another service resets the ibeacon
# pull request from cweakland
ExecStartPre=/bin/sleep 30
Type=oneshot
User=root
RemainAfterExit=yes
ExecStart=/usr/bin/ble-ibeacon start
ExecStop=/usr/bin/ble-ibeacon stop

[Install]
WantedBy=multi-user.target

